<div id="bs-row-1000" class="row" data-attr-class="" data-attr-element="grid">
	<div class="col-md-12 bs-column" data-attr-length="12">
		<div class="bs-element form-group" id="bs-element-1001" draggable="false" data-attr-element="plain-text">
			<div class="col-lg-12"><label>Fill All Info and Get the best quotes</label></div></div></div>
</div>

<div id="bs-row-1002" class="row" data-attr-class="" data-attr-element="grid">
	<div class="col-md-4 bs-column" data-attr-length="4">
	</div>
	<div class="col-md-3 bs-column" data-attr-length="3">
		<div class="bs-element form-group" id="bs-element-1002" draggable="false" data-attr-element="text">
			<div class="col-lg-12">
				<input id="bs-element-input-1002" class="form-control builder-control  " data-attr-class="" type="text" value="" name="real_estates:address_postalcode" placeholder="Enter your ZIP">
			</div>
		</div>
	</div>
	<div class="col-md-1 bs-column" data-attr-length="1">
		<div class="bs-element form-group bs-progressive" id="bs-element-3" draggable="false" data-attr-element="submit" data-attr-progressive-id="bs-element-1002" data-attr-progressive-show="1" data-attr-progressive-disable="1">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<button type="button" name="next-form-1" data-attr-class="" class="btn-block btn btn-success ajax-button-submit " data-attr-color="success">Next</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 bs-column" data-attr-length="4">
	</div>
</div>


<div class="panel-group hidden" id="accordion">

	<!-- Vehicles  -->

	<div class="panel panel-default" id="vehicle-panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="#collapseVehicle" href="#collapseVehicle" class="collapsed">
					Vehicles
				</a>
			</h4>
		</div>
		<div id="collapseVehicle" class="panel-collapse collapse in">
			<div class="panel-body">

				<!-- Start here !!!! -->

				<div id="bs-row-3" class="row vehicle-row-1 vehicle-rows" data-attr-class="vehicle-row-1 vehicle-rows" data-attr-element="grid">

					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-15" draggable="false" data-attr-element="select">
							<label class="control-label col-lg-4" for="bs-element-input-15">
								Vehicle #1
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:make[0]" data-attr-class="" data-attr-link="http://hugeform2.bekitzur.com:8080/api/hugeform/cars" data-attr-connected="bs-element-14" data-attr-param-name="make">
									<option value="">-Select Make-</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group bs-progressive" id="bs-element-14" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-15" data-attr-progressive-show="1" data-attr-progressive-disable="1">
							<label class="control-label col-lg-4" for="bs-element-input-14">
								Year
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:year[0]" data-attr-class="" data-attr-connected="bs-element-16" data-attr-param-name="year">
									<option value="">-Select Year-</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group bs-progressive" id="bs-element-16" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-14" data-attr-progressive-show="1" data-attr-progressive-disable="1">
							<label class="control-label col-lg-4" for="bs-element-input-16">
								Model
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:model[0]" data-attr-class="" data-attr-connected="bs-element-17" data-attr-param-name="model">
									<option value="">-Select Model-</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group bs-progressive" id="bs-element-17" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-16" data-attr-progressive-show="1" data-attr-progressive-disable="1">
							<label class="control-label col-lg-4" for="bs-element-input-17">
								Style
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:trim[0]" data-attr-class="" data-attr-param-name="trim">
									<option value="">-Style-</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-25" draggable="false" data-attr-element="select">
							<label class="control-label col-lg-4" for="bs-element-input-25">
								Ownership
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:ownership_type[0]" data-attr-class="">
									<option value=""></option>
									<option value="F_1">Own it, still making payments</option>
									<option value="O_1">Own it, free and clear</option>
									<option value="L_1">Leasing</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						</div>
						<div class="bs-element form-group" id="bs-element-32" draggable="false" data-attr-element="select">
							<label class="control-label col-lg-4" for="bs-element-input-32">
								Miles Driven
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="vehicles:mileage_total[0]" data-attr-class="">
									<option value=""></option>
									<option value="1">0-6000</option>
									<option value="2">6001-10000</option>
									<option value="3">10001-15000</option>
									<option value="4">15001+</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-52" draggable="false" data-attr-element="select">
							<label class="control-label col-lg-4" for="bs-element-input-52">
								Use
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control  select-placeholder" name="vehicles:usage_type[0]" data-attr-class="">
									<option value=""></option>
									<option value="C_1">Commute to work/school</option>
									<option value="P_1">Pleasure</option>
									<option value="B_1">Business</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-44" draggable="false" data-attr-element="button">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button type="button" name="remove-button-1" data-attr-class="screen-remove-vehicle row-remove-button" class="btn-block btn btn-default screen-remove-vehicle row-remove-button" data-attr-color="default">✗</button>
							</div>
						</div>
					</div>

				</div>

				<!--ACTION BUTTONS-->

				<div id="bs-row-9" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-50" draggable="false" data-attr-element="button">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button type="button" name="add-row-1" data-attr-class="add-button" class="btn-block btn btn-success  add-button" data-attr-color="success">Add vehicle</button>
							</div>
						</div>
					</div>
					<div class="col-md-10 bs-column" data-attr-length="10">
						<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
						</div>
						<div class="form-group">
						</div>
					</div>
					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-51" draggable="false" data-attr-element="submit">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button type="button" name="next-form-2" data-attr-class="" class="btn-block btn btn-success ajax-button-submit " data-attr-color="success" disabled="disabled">Next</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<!--End./ Vehicles-->

	<div class="panel panel-default" id="driver-panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="#collapseDriver" href="#collapseDriver" class="collapsed hidden">
					Drivers
				</a>
				<label>
					Drivers
				</label>
			</h4>
		</div>
		<div id="collapseDriver" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="driver-container hidden">
					<div class="driver-container-info">
						<div id="bs-row-90" class="row driver-row main-info" data-attr-class="driver-row main-info" data-attr-element="grid">
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-60" draggable="false" data-attr-element="text">
									<div class="col-lg-12">
										<label class="control-label col-lg-12">&nbsp;</label>
										<input id="bs-element-input-60" class="form-control driver-input hidden builder-control" data-attr-class="" type="text" value="" name="driver-name" value="Driver #1">
										<label class="driver-placeholder">Driver #1</label>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="1">
								<div class="bs-element form-group" id="bs-element-51" draggable="false" data-attr-element="select">
									<label class="control-label col-lg-4" for="bs-element-input-51">
										Age
									</label>
									<div class="col-lg-12">
										<select class="form-control builder-control  select-placeholder" name="profiles:age" data-attr-class="">
											<option value="">-Age-</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
											<option value="51">51</option>
											<option value="52">52</option>
											<option value="53">53</option>
											<option value="54">54</option>
											<option value="55">55</option>
											<option value="56">56</option>
											<option value="57">57</option>
											<option value="58">58</option>
											<option value="59">59</option>
											<option value="60">60</option>
											<option value="61">61</option>
											<option value="62">62</option>
											<option value="63">63</option>
											<option value="64">64</option>
											<option value="65">65</option>
											<option value="65+">65+</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-18" draggable="false" data-attr-element="select">
									<label class="control-label col-lg-4" for="bs-element-input-18">
										Gender
									</label>
									<div class="col-lg-12">
										<select class="form-control builder-control select-placeholder" name="profiles:gender" data-attr-class="">
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
							</div>
							<div class="col-md-1 bs-column" data-attr-length="1">
								<div class="bs-element form-group" id="bs-element-59" draggable="false" data-attr-element="button">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<button type="button" name="clear-button-1" data-attr-class="clear-button" class="btn-block btn btn-default clear-button" data-attr-color="default">Clear</button>
									</div>
								</div>
							</div>
							<div class="col-md-1 bs-column" data-attr-length="1">
								<div class="bs-element form-group" id="bs-element-444" draggable="false" data-attr-element="button">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<button type="button" name="remove-driver-button-1" data-attr-class="driver-remove-button" class="btn-block btn btn-danger driver-remove-button" data-attr-color="danger">✗</button>
									</div>
								</div>
							</div>
						</div>
						<div id="bs-row-10" class="row driver-row discounts" data-attr-class="driver-row discounts" data-attr-element="grid">
							<div class="col-md-2 bs-column" data-attr-length="2">
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-18" draggable="false" data-attr-element="select">
									<div class="col-lg-12">
										<select class="form-control builder-control hidden" name="profiles:employment_status" data-attr-class="">
											<option value="">-Career-</option>
											<option value="E_1">Employed</option>
											<option value="U_1">Unemployed</option>
											<option value="S_1">Full-time student</option>
											<option value="R_1">Retired</option>
											<option value="D_1">Disabled</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-65" draggable="false" data-attr-element="select">
									<div class="col-lg-12">
										<select class="form-control builder-control  select-placeholder" name="profiles:education" data-attr-class="">
											<option value="">-Education-</option>
											<option value="HS_1">High School</option>
											<option value="SC_1">Some College</option>
											<option value="2SC_1">2 Year College</option>
											<option value="4SC_1">4 Year College</option>
											<option value="GD_1">Graduate Degree</option>
											<option value="D_1">Doctorate</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-66" draggable="false" data-attr-element="select">
									<div class="col-lg-12">
										<select class="form-control builder-control  select-placeholder" name="profiles:marital_status" data-attr-class="">
											<option value="">-Family-</option>
											<option value="MD_1">Married</option>
											<option value="SD_1">Separated</option>
											<option value="DD_1">Divorced</option>
											<option value="SE_1">Single</option>
											<option value="WD_1">Widowed</option>
											<option value="DP_1">Domestic Partner</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-67" draggable="false" data-attr-element="select">
									<div class="col-lg-12">
										<select class="form-control builder-control  select-placeholder" name="driver_profiles:permit_status" data-attr-class="">
											<option value="">-License-</option>
											<option value="V_1">Valid</option>
											<option value="P_1">Permit</option>
											<option value="E_1">Expired</option>
											<option value="S_1">Suspended</option>
											<option value="C_1">Cancelled</option>
											<option value="NL_1">Not Licensed</option>
											<option value="PR_1">Permanently Revoked</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-1 bs-column" data-attr-length="1">
								<div class="bs-element form-group" id="bs-element-100" draggable="false" data-attr-element="select">
									<div class="col-lg-8">
										<select class="form-control builder-control " name="driver_profiles:accident_count" data-attr-class="">
											<option value="">Good Driver</option>
											<option value="0">0</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5+">5+</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-1 bs-column" data-attr-length="1">
							</div>
						</div>
					</div>
					<div class="driver-container-cars">
						<div class="car row">
							<div class="col-md-2 bs-column" data-attr-length="2">
							</div>
							<div class="col-md-2 bs-column car-name" data-attr-length="2">
								<label></label>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">
								<div class="bs-element form-group" id="bs-element-39" draggable="false" data-attr-element="select">
									<label class="control-label col-lg-4" for="bs-element-input-39">
										&nbsp;
									</label>
									<div class="col-lg-12">
										<select class="form-control builder-control select-placeholder" name="vehicle_drivers:driver_type" data-attr-class="">
											<option value="Primary">Primary</option>
											<option value="Secondary">Secondary</option>
											<option value="Not-used">Not used</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2 bs-column" data-attr-length="2">

							</div>
						</div>
					</div>
				</div>
				<div class="driver-block">
					<div class="row">
						<div class="col-md-2">
							<div class="bs-element form-group" id="bs-element-95" draggable="false" data-attr-element="button">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<button type="button" name="add-button" data-attr-class="driver-add" class="btn-block driver-add btn btn-success" data-attr-color="success">Add driver</button>
								</div>
							</div>
						</div>
						<div class="col-md-10"></div>
					</div>
					<div id="bs-row-100" class="row" data-attr-class="" data-attr-element="grid">
						<div class="col-md-11 bs-column" data-attr-length="11">
							<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
							</div>
							<div class="form-group">
							</div>
						</div>
						<div class="col-md-1 bs-column" data-attr-length="1">
							<div class="bs-element form-group" id="bs-element-51" draggable="false" data-attr-element="submit">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<button type="button" name="next-form-3" data-attr-class="" class="btn-block btn btn-success ajax-button-submit " data-attr-color="success" disabled>Next</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default" id="discount-panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-target="#collapseDiscount" href="#collapseDiscount" class="collapsed hidden">
					Discount
				</a>
				<label>
					Discount
				</label>
			</h4>
		</div>
		<div id="collapseDiscount" class="panel-collapse collapse out">
			<div class="panel-body">

				<div id="bs-row-999" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-12 bs-column" data-attr-length="12">
						Apply more discounts to reduce your next policy cost
					</div>
				</div>

				<div id="bs-row-998" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-3 bs-column" data-attr-length="3">
						Homeowner Discount.
						<text>Many hugeform companies give discount for homeowners</text>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-999" draggable="false" data-attr-element="switch">
							<label class="control-label col-lg-4" for="bs-element-input-999">
								Do you own your primary residence?
							</label>
							<div class="col-lg-8">
								<input class="btn-switch builder-control " type="checkbox" id="residence-switch" data-attr-class="" data-on-text="Yes" data-off-text="No"></div>
						</div>
					</div>

					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group bs-progressive" id="bs-element-78" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-999:Yes" data-attr-progressive-show="1" data-attr-progressive-disable="0">
							<label class="control-label col-lg-4" for="bs-element-input-78">
								What type of home?
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " name="real_estates:residence_type[0]" data-attr-class="">
									<option value="">- Select -</option>
									<option value="H_1">Home</option>
									<option value="C_1">Condo</option>
									<option value="T_1">Townhouse</option>
									<option value="M_1">Mobile Home</option>
									<option value="O_1">Other</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3 bs-column" data-attr-length="5"></div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<i class="fa fa-check fa-2x checkmark"></i>
					</div>
				</div>


				<div id="bs-row-997" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-3 bs-column" data-attr-length="3">
						Continuously Insured Discount
						<text>Many hugeform Companies give big discounts when you switch from existing hugeform.</text>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-80" draggable="false" data-attr-element="switch">
							<label class="control-label col-lg-4" for="bs-element-input-80">
								Are you currently insured?
							</label>
							<div class="col-lg-8">
								<input class="btn-switch builder-control " type="checkbox" id="insured-switch" data-attr-class="" data-on-text="Yes" data-off-text="No"></div>
						</div>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group bs-progressive" id="bs-element-81" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-80:Yes" data-attr-progressive-show="1" data-attr-progressive-disable="0">
							<label class="control-label col-lg-4" for="bs-element-input-81">
								Who is your hugeform provider?
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control " data-attr-class="" data-attr-link="http://hugeform2.bekitzur.com:8080/api/hugeform/carriers?" data-attr-param-name="name" name="hugeform:carrier_id">
									<option value="">- Select -</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3 bs-column" data-attr-length="3">
						<div class="bs-element form-group bs-progressive" id="bs-element-83" draggable="false" data-attr-element="select" data-attr-progressive-id="bs-element-81" data-attr-progressive-show="1" data-attr-progressive-disable="0">
							<label class="control-label col-lg-4" for="bs-element-input-83">
								What are your coverage limits?
							</label>
							<div class="col-lg-8">
								<select class="form-control builder-control select-placeholder" data-attr-class="" data-attr-link="http://hugeform2.bekitzur.com:8080/api/hugeform/coverages?" data-attr-param-name="name" name="hugeform:coverage_id">
									<option value="">- Select -</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<i class="fa fa-check fa-2x checkmark"></i>
					</div>
				</div>

				<!--Collision Coverage-->
				<div id="bs-row-12" class="row car-coverage hidden" data-attr-class="" data-attr-element="grid">
					<div class="col-md-3 col-lg-3 bs-column" data-attr-length="3">
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<text class="car-name">"Car 1 Name" Coverage</text>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-72" draggable="false" data-attr-element="checkbox">
							<div class="col-lg-8">
								<input class="builder-control " type="checkbox" name="hugeform:collision_deductible" data-attr-class="">
								<label class="control-label" for="bs-element-input-72">
									Collision Coverage
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-73" draggable="false" data-attr-element="checkbox">
							<div class="col-lg-8">
								<input class="builder-control " type="checkbox" name="hugeform:comprehensive_deductible" data-attr-class="">
								<label class="control-label" for="bs-element-input-73">
									Comprehensive Coverage
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-3 bs-column" data-attr-length="5">
						<i class="fa fa-check checkmark"></i>
					</div>
				</div>

				<!--your current-->
				<div id="bs-row-14" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-3 bs-column" data-attr-length="3">
						What do you pay for your current car hugeform?
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-71" draggable="false" data-attr-element="icon-text">
							<div class="col-lg-12">
								<div class="input-group">
									<div class="input-group-addon">
										$
									</div>
									<input id="bs-element-input-71" class="form-control builder-control  " data-attr-class="" type="icon-text" name="hugeform:current_quote" placeholder="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1 bs-column" data-attr-length="1">
						<div class="bs-element form-group" id="bs-element-70" draggable="false" data-attr-element="select">
							<div class="col-lg-12">
								<select class="form-control builder-control " name="hugeform:current_period" data-attr-class="">
									<option value="1">Per month</option>
									<option value="6">Per 6 Months</option>
									<option value="12">Per Year</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6 bs-column" data-attr-length="6">
					</div>
				</div>


				<div id="bs-row-15" class="row" data-attr-class="" data-attr-element="grid">
					<div class="col-md-3 bs-column" data-attr-length="3">
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<text> We will send you your better policy quotes by email</text>
					</div>
					<div class="col-md-2 bs-column" data-attr-length="2">
						<div class="bs-element form-group" id="bs-element-68" draggable="false" data-attr-element="email">
							<div class="col-lg-12">
								<input id="bs-element-input-68" class="form-control builder-control  " data-attr-class="" type="email" name="profiles:email[0]" placeholder="(Email)">
							</div>
						</div>
					</div>
					<div class="col-md-5 bs-column" data-attr-length="5">
						<div class="bs-element form-group" id="bs-element-77" draggable="false" data-attr-element="submit">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button type="button" name="is_opportunity" data-attr-class="" class="btn-block btn btn-default ajax-button-submit " data-attr-color="default">Check Quotes</button>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
</div>
